.iframe_#{$app_id} {
    display: block;
    border: 0;
    width: 100%;

    &.all_#{$app_id},
    &.search_by_img_#{$app_id},
    &.forums_#{$app_id},
    &.web_#{$app_id} {
        margin-bottom: $search_result_iframe_offset_all;
    }

    &.books_#{$app_id} {
        margin-bottom: $search_result_iframe_offset_books;
    }

    &.news_#{$app_id} {
        margin-bottom: $search_result_iframe_offset_news;
    }
}
