@import '../../shared/index';
@import '../shared';

.separator {
    color: $black;
    font-size: $font_size;

    &.all,
    &.search_by_img,
    &.forums,
    &.web {
        margin-bottom: $search_result_separator_offset_all;
    }

    &.books {
        margin-bottom: $search_result_separator_offset_books;
    }

    &.news {
        margin-bottom: $search_result_separator_offset_news;
    }
}
